@charset "UTF-8";

html{
    height: 100%;
    /* height: 120%; */
}
body{
    background: linear-gradient(#136FFF,#00bfff,#FFFF00);
}


header img{
    width: 150px;
    display: block; /*超大切*/
    margin: 80px auto 0;
}
header p{
    color: white;
    color: #FFFFFF;
    color: #FFF;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
}



#container{
    color: white;
}
#container h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.form_login{
    background-color: rgb(122, 111, 111,0.3);
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}
label{
    display: block;
    max-width: 200px;
    width: 100%;
    margin-left: 10px;
}
.input{
    display: block;
    margin: 0 auto 30px;
    width: 300px;
    border: none;
}
input{
    display: block;
    margin-left: 180px;
    height: 30px;
    border-radius: 10px;
}
.login_button{
    width: 120px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: none;
}
.form_login a{
    display: block;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.form_login a:hover{
    opacity: 0.6;
}

#clear{
    text-align: center;
    font-size: 16px;
}
.form_clear{
    font-weight: bold;
    font-size: 20px;
}
.form_btn a{
    display: block;
    width: 140px;
    line-height: 40px;
    margin: 0 auto;
    color: white;
    background-color: red;
    border-radius: 10px;
}
.form_btn a:hover{
    opacity: 0.6;
}