@charset "UTF-8";

html{
    height: 100%;
}

body{
    height: 100%;
    background: #186AC9;

    height:100vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #FFFF77 0%, #136FFF 100%);
}

header{
    margin-bottom: 30px;
}
header img{
    width: 150px;
    display: block; /*超大切*/
    margin: 100px auto 0;
}
header p{
    font-size: 40px;
    color: azure;
    text-align: center;
}



#container{
    color: azure;
}
#container h2{
    font-size: 20px;
    text-align: center;
}
.form_login{
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}
label{
    display: block;
}
.input{
    display: block;
    margin: 0 auto;
}
.form_login a{
    color: azure;
}
.form_login a:hover{
    opacity: 0.6;
}

