@charset "utf-8";
/* 共有CSS */
html{
}
body{
}
a:hover{
  opacity: 0.6;
}
a img:hover{
  opacity: 0.6;
}
/* ログインページ */


/* 投稿フォームの設置 レイアウト */
.post_group{
  display: flex;
}
.form_post{
  max-width: 900px;
  width: 100%;
}
.post_img{
  max-width: 100px;
  width: 100%;
}
/* 検索フォームのレイアウト */
.all_search{
  display: flex;
  
}
.search_group{
  display: flex;
}
.form_search{
  max-width: 400px;
  width: 100%;
}
.search_img{
  max-width: 100px;
  width: 100%;
}
.search_Word{

}



/* header */
header{
  background:#186AC9;
}
.header_content{
  display: flex;
}


/* main content */
#row{
  display: flex;

  flex-flow: row wrap;
}
#container{
  flex: 0 0 80%;
}
#side-bar{
  flex: 0 0 19%;
  border-left: 1px solid #727272;
}


/* 2022年11月6日 */
.btn{
  width: 150px;
  line-height: 35px;
  background-color: #186AC9;
  text-align: center;
  border-radius: 10px;
}
.btn a{
  color: #fff;
}

/* 2022年10月29日 */

.menu-btn{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #fff;
}
.inn{
      position: relative;
      width: 100%;
      height: 100%;
      display: block;

      position: absolute;
      content: "";
      top: 40%;
      left: 50%;
      width: 15px;
      height: 15px;
      transform: translate(-50%, -40%) rotate(135deg);
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      transition: 0.3s ease;
}

.inn.is-open{
          top: 60%;
          transform: translate(-50%, -60%) rotate(-45deg);
}


.menu{
    position: absolute;
    top: 60px;
    width: 100%;
    right: 0px;
    background-color: #fff;
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);
}

.menu{
    opacity: 1;
    transform: translateY(0);
}
.menu li {
    height: 60px;
    border-top: 1px solid #000;
    display: none;
    text-align: center;
    border-bottom: 1px solid #000;
}

/* 2023.01.16 ログインユーザーのつぶやきを編集 */
.content{
  margin: 0 auto;
  padding: 40px;
}
.content img{
  width: 50px;
}
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

