@charset "utf-8";
/* 共有CSS */

a:hover{
  opacity: 0.6;
}
a img:hover{
  opacity: 0.6;
}
h1 img{
  padding: 20px;
  width: 120px;
}
.main_content{
  border-bottom: 7px solid #C0C0C0;
}

/* 2022年11月6日 */
.btn{
  width: 150px;
  line-height: 35px;
  background-color: #186AC9;
  text-align: center;
  border-radius: 10px;
}
.btn a{
  color: white;
}
/* ログインページ */



/* 2023.04.08 index.blade.php */
.post_group{
  display: flex;
}
.form_post{
  border: none;
}
.form_post{
  max-width: 900px;
  width: 100%;
}
.post_img{
  max-width: 100px;
  width: 100%;
}
.post_content{
  display: flex;
  margin: 0 auto;
  padding: 40px;
}
.post_content.img{
  background-image: url(images/trash-h.png);
}
.post_content.img a img:hover{
  background-image: url(images/trash.png);
}

.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: white;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}



/* 2023.04.08 userSearch.blade.php */
.search_content{
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_group{
  display: flex;
  align-items: center;
}
.form_search{
  width: 300px;
  height: 40px;
}
.search_img{
  max-width: 100px;
  width: 100%;
}
.search_Word{
  
}
.image_username{
  display: flex;
  align-items: center;
}
.image_username p{
  margin-left: 10px;
}
.all_user{
  max-width: 500px;
  width: 100%;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.red{
  background-color: red;
}
.light_blue{
  background-color: #8EB8FF;
}




/* header */
header{
  background:#186AC9;
}
.header_content{
  display: flex;
}


/* main content */
#row{
  display: flex;

  flex-flow: row wrap;
}
#container{
  flex: 0 0 80%;
}
#side-bar{
  flex: 0 0 19%;
  border-left: 1px solid #727272;
}
#confirm{
  /* margin: 20px; */
}
.follows_count{
  display: flex;
}
.followers_count{
  display: flex;
}
.search_btn{
  border-top: 1px solid #727272;
}





/* 2022年10月29日 */
.menu_btn{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  right: 50px;
  background-color: #186AC9;
  border: none;
}
.inn{
  position: relative;
  width: 100%;
  height: 100%;
  display: block;

  position: absolute;
  content: "";
  top: 40%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.5s ease;
  transform: translate(-50%, -40%) rotate(135deg);
}

.inn.is-open{
  top: 60%;
  transform: translate(-50%, -60%) rotate(-45deg);
}


.menu{
  position: absolute;
  top: 60px;
  width: 20%;
  right: 0px;
  background-color: white;
  opacity: 0;
  transition: .3s ease-in-out;
  pointer-events: none;
  transform: translateY(-30px);
}

.menu{
  opacity: 1;
  transform: translateY(0);
}
.menu li {
  height: 60px;
  border-top: 1px solid #000;
  display: none;
  text-align: center;
  border-bottom: 1px solid #000;
}








/* 2023.03.21 プロフィール編集 */
.form_profile{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
label{
  font-size: 16px;
  font-weight: bold;
}
.profile_layout{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.input{
  width: 300px;
  background-color: silver;
}
.profile_button{
  display: block;
  margin: 30px auto;
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
}
.profile_button:hover{
  opacity: 0.6;
}




/* フォローリスト */
h2{
  font-size: 30px;
  margin-right: 50px;
}
.follow_content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.follow_image{
  margin-right: 20px;
}
.follow_lists{
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  margin: 30px auto;
}
.follow_list{
  display: flex;
  align-items: center;
}
.follow_list img {
  margin-right: 20px;
}
.username_post{
  display: flex;
  flex-direction: column;
}
.username_post p{
  margin-top: 10px;
}